body{  
    background: rgb(42, 0, 83); 
 }

 h1 {  
    font-size: 60px;
    text-align: center; 

}
p {   
    font-size: 30px; 
    text-align: center;
    font-variant: normal;
    margin-top: 125px;
  }

  img { 
    width: 300px;
    height: 300px;
    margin: 60px; 
    margin-left: 200px; 
    margin-top: 200px;
      }

.cabecalho { 
  background-color: rgb(219, 119, 214);
}
.logo_dcabecalho{
  width: 170px;
  margin-left: 50px;
  margin-top: 50px;
  height: 120px;
}
.lista_cabecalho {
  display: flex;
  margin-left: 395px;
}

 .item_lista_cabecalho{
  color: red;
  list-style: none;
  text-transform: uppercase;
  font-size: 40px;
  padding: 15px;
  margin-left: 110px;
   ;}