body{  
    background: rgb(42, 0, 83); 
 }
 h1 {  
    font-size: 60px;
    color: rgb ( 210,190, 14);
    text-align: center; 
}
p {   
    font-size: 30px; 
    color:black ( 210, 190 14);
    text-align: justify;
  }
  img { 
    width: 500px;
    height: 600px;
    margin: 40px; 
    margin-left:130px; 
      }

.cabecalho { 
  background-color: rgb( 103,187,189);
  display: flex;
}
.logocabecalho{
  width:100px;
}
.lista_cabecalho {
  display: flex;
  margin-left: 500px;
}
 
   
 .item_lista_cabecalho{
  color: red;
  list-style: none;
  text-transform: uppercase;
  font-size: 100px;
   padding:5px
 }
  
  